/* Import the font I'm using, if you chose to change the font and it's not a default one you'll need to import it here as well */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


/* Main controls for the styles, this is all you need to edit for color, shadow, fonts, etc */

:root {
    --background1: rgba(34, 40, 49, .5); /* Main Background Color */
    --background2: rgba(57, 62, 70, .5); /* Secondary Background Color */
    --background-solid1: rgb(34, 40, 49); /* Set to same as above, but without the opacity setting */
    --background-solid2: rgb(57, 62, 70);
    --highlight1: #FF0000; /* Highlight color 1 */
    --highlight2: #FF165D; /* Hightliht color 2 */
    --shadow: black; /* Experiment with this, but it's probably best left black */
    --icons: white; /* Changes the color of icons, like the little bell, stack, etc */
    --text: #EEEEEE; /* Text color, all text color is currently this or humhub's default */
    --buttons: linear-gradient(to right, #ff512f, #f09819); /* The gradient for buttons */
    --buttons-hover: linear-gradient(to right, #ff9966, #ff5e62); /* The gradient for buttons on hover */
    --links: lightblue; /* the color for links */
    --main-font: "Poppins", sans-serif; /* Main font for all text */
    --header-font: "Poppins", sans-serif; /* Header font only effects h1-h6 tags (aka the headers)*/
    --your-pms: rgba(46, 118, 232, .5); /* The color for your PM's, instead of the default being the same color as everyone elses */
    --main-background: rgba(0, 0, 0, .5); /* This is the color that sits on top of your background image, you can use this
    to tweak the filter on the background image */
    --polls: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%); /* Gradient as well, used for coloring
    the poll bars */
}

/* You can also change some stuff here if you like */

html {
    background-image: url("https://i.imgur.com/w6MRrVZ.jpeg"); /* Set this to the URL of the background image you want to use */
    background-size: fit; /* I suggest leaving this as fit, but you might want to use `cover` or `auto` */
    background-attachment:fixed; /* Unless you want your background to scroll as you scroll, leave this fixed, or else you can set it to none */
    background-color: black; /* Incase your image doesn't load, this will be the default color */
}


/* Any further editing and You'll need some CSS knowledge, so if you don't I recommend you stop here
if you can write CSS, then knock yourself out */


body {
    background-color: var(--main-background);
    color: var(--text) !important;
    font-family: var(--main-font) !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--header-font);
}

/* panels */

.panel{
    background-color: var(--background1);
    box-shadow: 0px 0px 20px var(--shadow);
    border: none;
    border-radius: 20px;
}

.count {
    color: var(--highlight2) !important;
}

.panel-heading {
    background-color: var(--background1) !important;
    border-radius: 20px !important;
}
.list-group a {
    background-color: var(--background1) !important;
}

.wall-entry {
    border-radius: 20px;
}

.img-rounded {
    border-radius: 50%;
}

/* Top Bar */

#account-top-menu {
    background: none;
}

#topbar-first {
    background-color: var(--background1);
}

#topbar-second {
    background-color: var(--background2);
}

.top-menu-item a:hover, .top-menu-item .active {
    background-color: var(--background1) !important;
}
.wall-entry-header-info .media-heading a {
    color: var(--highlight2);
    font-family: var(--header-font) !important;
}
.top-menu-item a {
    color: var(--text) !important;
}

#icon-notifications, #icon-messages {
    background-color: var(--background2) !important;
}

#badge-messages, #badge-notifications {
    background-color: var(--highlight1);
}
#account-dropdown-link {
    background-color: var(--background2) !important;
}


/* post stuff */

.wall-entry-content p, .wall-entry-content h1, .wall-entry-content h2, .wall-entry-content h3, .wall-entry-content h4, .wall-entry-content h5, .wall-entry-content h6, .wall-entry-content li, .wall-entry-content span {
    color: white !important;
}

.wall-entry-content a {
    color: var(--links) !important;
}

.label-default {
    border: 1px solid var(--highlight2) !important;
    color: var(--text) !important;
}

.content .comment-message p a {
    color: var(--links) !important;
}


/* icon colors */

.fa {
    color: var(--icons);
}

.ProseMirror {
    background-color: var(--background2);
    border: 1px solid black;
    color: var(--text) !important;
}

.ProseMirror p {
    color: var(--text) !important;
}

.well {
    background-color: var(--background1) !important;
    border-top: 3px solid var(--icons);
}

.media h4 a {
    color: var(--highlight2) !important;
}
.media p {
    color: var(--text) !important;
}

/* buttons */

.comment_create .comment-buttons button, .btn-primary, {
    background: var(--buttons) !important;
    color: var(--text);
}

.comment_create .comment-buttons .btn-default[type="submit"] {
    background: var(--buttons) !important;
    color: var(--text);
}

.btn-default, .btn {
    background: var(--buttons) !important;
    color: var(--text) !important;
}
.regular-checkbox-box {
    transition: .4s;
    background: none !important;
}


.regular-checkbox-box:hover {
    border-color: var(--highlight2) !important;
}

.btn-default:hover, .btn:hover {
    background: var(--buttons-hover) !important;
}


/* Profile Specific */

.panel-profile-header {
    border: none !important;
}

/* Polls */


.progress-bar {
    background-color: var(--highlight1);
    background: var(--polls);
}


/* PMS */

.conversation-entry-content {
    background-color: var(--background2);
}
.conversation-entry-content.own {
    background-color: var(--your-pms);
}


.sk-spinner-three-bounce {
    color: red !important;
}

.messagePreviewEntry.selected, .messagePreviewEntry.unread, .messagePreviewEntry:hover {
    background-color: var(--background2) !important;
}

#dropdown-messages, #dropdown-notifications {
    background-color: var(--background1) !important;
    backdrop-filter: blur(6px) !important;
    box-shadow: 0px 0px 12px black;
}
#dropdown-messages {
    backdrop-filter: blur(6px);
}

/* Notifs */


#dropdown-notifications .new {
    background-color: var(--background2);
}
#dropdown-notifications .new .media-body  {
    color: var(--text) !important;
}
#dropdown-notifications .new strong  {
    color: var(--highlight2) !important;
}

#dropdown-notifications .media-list li:hover {
    background-color: var(--background2);
}

/* Spaces Dropdown */

.dropdown.open a, .dropdown a:hover{
    background-color: var(--background1) !important;
}

#space-menu-dropdown {
    background-color: var(--background) !important;
    backdrop-filter: blur(3px);
    box-shadow: 0px 0px 12px black;
}

.dropdown-menu .media-list li:hover {
    background-color: var(--background2);
}

.dropdown-menu .media-list li strong {
    color: var(--highlight2);
}
.dropdown-menu .media-list li .badge {
    background-color: var(--highlight1);
}

.col-md-8:nth-child(1) {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.layout-sidebar-container {
    display: none;
}

/* Style the Load new Posts button */

.label-info {
    background-color: var(--background2);
}

/* Account dropdown */

.dropdown-menu {
    background-color: var(--background2) !important;
}
